<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VTSWeb.SystemConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="VTSWeb.SystemConfig.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VTSWeb.SystemConfig.Properties.Settings>
            <setting name="ConnString" serializeAs="String">
                <value>Server=192.168.100.1\development; Database=CDC_VTS_Development; UID=vtsuser; PWD=vtsuser.1;</value>
            </setting>
            <setting name="RequestPageKey" serializeAs="String">
                <value>Page</value>
            </setting>
            <setting name="ListPageSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DataPagerRange" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HomeWebAppURL" serializeAs="String">
                <value>http://localhost:1362/VTSWeb.UI/</value>
            </setting>
            <setting name="DateForm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Encryptionkey" serializeAs="String">
                <value>:))</value>
            </setting>
            <setting name="ActionResult" serializeAs="String">
                <value>ActionResult</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>CYBER DATA CENTRE</value>
            </setting>
            <setting name="ForgotPasswordPage" serializeAs="String">
                <value />
            </setting>
            <setting name="CookieName" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="CookiePassword" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="CookieInstance" serializeAs="String">
                <value>Intance</value>
            </setting>
            <setting name="LoginLifeTimeExpired" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CookiesPreferences" serializeAs="String">
                <value>PreferencesVTS</value>
            </setting>
            <setting name="StringSeparatorPublish" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="CustomerConnString" serializeAs="String">
                <value />
            </setting>
            <setting name="RootOrganization" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PhotoPicturePath" serializeAs="String">
                <value>C:\Inetpub\wwwroot\VTSWeb\images\photo\</value>
            </setting>
            <setting name="ImageExtension" serializeAs="String">
                <value>.jpg$|\.jpeg$|\.gif$|\.png</value>
            </setting>
            <setting name="ImageWidth" serializeAs="String">
                <value>950</value>
            </setting>
            <setting name="ImageHeight" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="ImageMaxSize" serializeAs="String">
                <value>800000</value>
            </setting>
            <setting name="ImageDefault" serializeAs="String">
                <value>no_picture.jpg</value>
            </setting>
            <setting name="PhotoPictureVirDirPath" serializeAs="String">
                <value>http://localhost/VTSWeb/images/photo/</value>
            </setting>
        </VTSWeb.SystemConfig.Properties.Settings>
        <VTSWeb.SystemConfig.Settings>
            <setting name="ConnString" serializeAs="String">
                <value>Server=192.168.100.1\development; Database=CDC_VTS_Development; UID=vtsuser; PWD=vtsuser.1;</value>
            </setting>
        </VTSWeb.SystemConfig.Settings>
    </applicationSettings>
</configuration>