<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InetGlobalIndo.ERP.MTJ.DBFactory.Membership.Properties.Settings.SIP_MembershipConnectionString1"
            connectionString="Data Source=BIDHAVENSRV\DEVELOPMENT;Initial Catalog=SIP_Membership;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="InetGlobalIndo.ERP.MTJ.DBFactory.Membership.Properties.Settings.SIP_MembershipConnectionString"
            connectionString="Data Source=BIDHAVENSRV\DEVELOPMENT;Initial Catalog=SIP_Membership;User ID=sa" />
    </connectionStrings>
</configuration>