<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InetGlobalIndo.ERP.MTJ.Authentication.Properties.Settings.SIP_MembershipConnectionString"
            connectionString="Data Source=BIDHAVENSRV\DEVELOPMENT;Initial Catalog=SIP_Membership;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>